*{
     margin: 0px;
     padding: 0px;
}
#menu{
     height:50px;
     color: white;

}

#menu ul{
     list-style: none;
}

#menu li{
     float: left;
     margin: 15px;
}
#section1{
     background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,100,0.5)),url(./../images/imac-apple-mockup-app-38544.jpeg);
     height: 700px;
     padding: 200px;
     background-size: 100% 100%;
   
     color: aliceblue;
}
#section1 a{
     color: white;
     padding: 15px;
     background-color: orangered;
     border-radius: 15px;
}
#section2{
     padding-top: 80px;
     height: auto;
     background-color: #f46542;
     padding-right:30px;
     padding-left: 20px;
     padding-bottom: 00px;
     
     
     
}
#sectionA{
     position: absolute;
     top: 0%;
     line-height: 150px;
     height: 261px;
     width: 300px;
     background-color:aliceblue;
     opacity: 0.001;
     text-decoration: none;

}
#sectionA:hover{
     position: absolute;
     top: 0%;
     line-height: 150px;
     height: 300px;
     width: 419.33px;
     background-color: #09c17b;
     opacity: 0.9;
     text-decoration: none;

}
#section a{
     color: white;
     font-weight: bold;
}
#section3{
     background-color: #f4b642;
     color: white;
     height: auto;
     padding-top: 150px;
     padding-bottom: 130px;
}
#social a{
     color: black;
}

#section4{
     padding-top: 100px;
     padding-bottom: 50px;
     height: auto;
     background-color: darkmagenta;
     color: white;

}
